@CHARSET "ISO-8859-1";
.userinfo-popup {
	z-index: 999;
	display: block;
	position:fixed;
	background-color: #ffffff;
}
.userinfo-popup1 {
	width: 650px;
	z-index: 999;
	display: none;
	position:fixed;
	background-color: #ffffff;
}
.accessAuthorizationinfo-popup {
	width: 100%;
	z-index: 999;
	display: block;
	position:fixed;
	background-color: #ffffff;
}
.mt-10 {
	margin-top: 10px;
}
.height20{
	height: 20px;
}
.color3c8dbc {
	color: #3c8dbc!important;
}
.color_ac2925 {
	color: #ac2925!important;
}