@CHARSET "ISO-8859-1";
/**************************************************
					button
**************************************************/
.btn-screen {
	margin: 5px 5px!important;
	height: 25px;
}
/**************************************************
					Margin
**************************************************/
.mt_10 {
	margin-top: 10px;
}