@CHARSET "UTF-8";
#content {
	width: 100%;
    /* height: 565px; */
    background: #FFF;
    margin: auto;
    /* overflow-y: scroll; */
    /* border: 1px solid #88B627; */
}
#content span {
	color: #1d1d1d;
}
#right {
	min-height: 580px;
}
#title {
	width: 100%;
	margin-top: 20px;
	height: 100px;
	font-family: sans-serif;
	position: relative;
}
#title .head {
	text-align: center;
	font-weight: bold;
}
.personImg {
	margin-top : 30px;
	margin-left: 50px;
	width: 116px;
	height: 126px;
	background: url("../../../resources/img/img_person.PNG") left center;
}
.soyeulylich {
	height: 126px;
	padding-top: 50px;
	font: 36px bold;
}
.contentBox {
	width: 90%;
	margin: auto;
	margin-bottom: 10px;
	position: relative;
}
.contentBox .contentBox_title {
	font-size: 18px;
	font-weight: bolder;
}
.button_groups {	
	width: 230px;
	height: 50px;
	position: fixed;
	bottom: 0px;
	right: 0px;
	border-radius: 5px 0px 0px 0px;
	background: #1d1d1d;
	opacity: 0.9;
}
.relationContent {
	width: 90%;
	margin: auto;
}
.processOfYourSelt {
	width: 90%;
	margin: auto;
}
.height34 {
	height: 34px!important;
}
.report_popup {
	width: 650px;
	z-index: 999;
	display: none;
	top: 30%!important;
	left: 30%!important;
	height: 330px;
	position: fixed;
	background-color: #ffffff;
}
.noteReport_popup {
	width: 950px;
	z-index: 999;
	display: none;
	top: 15%!important;
	left: 20%!important;
	height: 330px;
	position: fixed;
	background-color: #ffffff;
}
.criteria_popup {
	width: 600px;
	z-index: 1001;
	top: 30%!important;
	left: 30%!important;
	display: none;
	height: 320px;
	position: fixed;
	background-color: #ffffff;
}
.ui-draggable, .ui-droppable {
	background-position: top;
}
.loader {
  position: fixed;
  z-index: 9999;
  top: 50%;
  left: 50%;	
  border: 3px solid #f3f3f3;
  border-radius: 50%;
  border-top: 3px solid #3498db;
  width: 30px;
  height: 30px;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}