<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="vn.youthmanager.ict.youth.db.mapper.Sym0018Mapper">

	<select id="searchData" parameterType="map" resultType="vn.youthmanager.ict.youth.db.model.Sym0018Result">
		SELECT 	UN.EDUCATION_ID educationId,
				E.LEVEL level,
				UN.UNIVERSITY_ID universityId,
				UN.UNIVERSITY_CODE universityCode,
		        UN.UNIVERSITY_NAME universityName,
		        (Select U.USERS_NAME from QLTN_M_USERS U where U.USERS_ID = UN.CREATE_USER_ID ) as createUserId,
				(Select U.USERS_NAME from QLTN_M_USERS U where U.USERS_ID = UN.UPDATE_USER_ID ) as updateUserId
		FROM QLTN_M_UNIVERSITY UN
		LEFT JOIN QLTN_M_EDUCATIONAL E ON E.EDUCATION_ID = UN.EDUCATION_ID
		WHERE 1= 1
		<if test="educationId != ''">
			AND UN.EDUCATION_ID = #{educationId}
		</if>
		<if test="universityCode != ''">
			AND UN.UNIVERSITY_CODE LIKE #{universityCode}
		</if>
		<if test="universityName != ''">
			AND UN.UNIVERSITY_NAME LIKE #{universityName}
		</if>
		AND UN.DELETE_FLAG = '0'
		ORDER BY UN.UNIVERSITY_CODE
		LIMIT #{fromRow},#{itemCount}
	</select>

	<select id="getSearchDataTotalCounts" parameterType="map" resultType="java.lang.String">
		SELECT COUNT(*)
		FROM QLTN_M_UNIVERSITY
		WHERE 1= 1
		<if test="universityCode != ''">
			AND UNIVERSITY_CODE LIKE #{universityCode}
		</if>
		<if test="universityName != ''">
			AND UNIVERSITY_NAME LIKE #{universityName}
		</if>
		AND DELETE_FLAG = '0'
	</select>

	<select id="getLastIdUniversity" parameterType="map" resultType="java.lang.String">
		SELECT UNIVERSITY_ID
		FROM QLTN_M_UNIVERSITY
		WHERE UNIVERSITY_ID != ${universityIdDefault}
		ORDER BY UNIVERSITY_ID DESC
		LIMIT 0,1
	</select>
</mapper>