<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="vn.youthmanager.ict.youth.db.mapper.Sym0019Mapper">

	<select id="searchData" parameterType="map" resultType="vn.youthmanager.ict.youth.db.model.Sym0019Result">
		SELECT 	S.SPECIALIZED_ID specializedId,
				S.SPECIALIZED_CODE specializedCode,
		        S.SPECIALIZED_NAME specializedName,
				S.UNIVERSITY_ID universityId,
		        U.UNIVERSITY_NAME universityName,
		        U.UNIVERSITY_CODE universityCode
		FROM QLTN_M_SPECIALIZED S
		LEFT JOIN QLTN_M_UNIVERSITY U ON S.UNIVERSITY_ID = U.UNIVERSITY_ID
		WHERE 1=1
		<if test="specializedCode != ''">
			AND S.SPECIALIZED_CODE LIKE #{specializedCode}
		</if>
		<if test="specializedName != ''">
			AND S.SPECIALIZED_NAME LIKE #{specializedName}
		</if>
		<if test="universityId != '-2'">
			AND S.UNIVERSITY_ID = #{universityId}
		</if>
		AND S.DELETE_FLAG = '0'
		ORDER BY SPECIALIZED_CODE
		LIMIT #{fromRow},#{itemCount}
	</select>

	<select id="getSearchDataTotalCounts" parameterType="map" resultType="java.lang.String">
		SELECT 	count(*)
		FROM QLTN_M_SPECIALIZED S
		LEFT JOIN QLTN_M_UNIVERSITY U ON S.UNIVERSITY_ID = U.UNIVERSITY_ID
		WHERE 1=1
		<if test="specializedCode != ''">
			AND S.SPECIALIZED_CODE LIKE #{specializedCode}
		</if>
		<if test="specializedName != ''">
			AND S.SPECIALIZED_NAME LIKE #{specializedName}
		</if>
		<if test="universityId != ''">
			AND S.UNIVERSITY_ID = #{universityId}
		</if>
		AND S.DELETE_FLAG = '0'
		ORDER BY SPECIALIZED_CODE
	</select>

	<select id="getLastIdSpecizalized" parameterType="map" resultType="java.lang.String">
		SELECT SPECIALIZED_ID
		FROM QLTN_M_SPECIALIZED
		WHERE SPECIALIZED_ID != ${specizalizedIdDefault}
		ORDER BY SPECIALIZED_ID DESC
		LIMIT 0,1
	</select>
</mapper>