<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="vn.youthmanager.ict.youth.db.mapper.Sym0010Mapper">

	<select id="searchData" parameterType="map" resultType="vn.youthmanager.ict.youth.db.model.Sym0010Result">
		SELECT 	S.SIGNATURE_ID signatureId,
				S.SIGNATURE_NAME signatureName,
		        (Select U.USERS_NAME from QLTN_M_USERS U where U.USERS_ID = S.CREATE_USER_ID ) as createUserId,
				(Select U.USERS_NAME from QLTN_M_USERS U where U.USERS_ID = S.UPDATE_USER_ID ) as updateUserId
		FROM QLTN_M_SIGNATURE S
		WHERE 1 = 1
		<if test="signatureName != ''">
			AND S.SIGNATURE_NAME LIKE #{signatureName}
		</if>
		AND S.DELETE_FLAG = '0'
		ORDER BY S.SIGNATURE_ID
		LIMIT #{fromRow},#{itemCount}
	</select>

	<select id="getSearchDataTotalCounts" parameterType="map" resultType="java.lang.String">
		SELECT COUNT(*)
		FROM QLTN_M_SIGNATURE
		WHERE 1 = 1
		<if test="signatureName != ''">
			AND SIGNATURE_NAME LIKE #{signatureName}
		</if>
		AND DELETE_FLAG = '0'
		ORDER BY SIGNATURE_ID
	</select>

	<select id="getLastIdSignature" parameterType="map" resultType="java.lang.String">
		SELECT SIGNATURE_ID
		FROM QLTN_M_SIGNATURE
		WHERE SIGNATURE_ID != ${signatureIdDefault}
		ORDER BY SIGNATURE_ID DESC
		LIMIT 0,1
	</select>
</mapper>